
body{
    overflow: hidden;
    inset: 0px;
    background-image: linear-gradient(to bottom, black, white, transparent),
                      linear-gradient(to left, black, white, transparent),
                      linear-gradient(to right, black, white, transparent),
                      linear-gradient(to top, black, white, transparent);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

#div1{
    background-color: white;
    width: 25vmax;
    height: 25vmax;
    position: relative;
    border-radius: 50px;
    top: 10vmax;
    left: 35%;
    box-shadow: 5px 5px 30px gray, 5px 5px 30px gray;
}

#inp1{
    position: absolute;
    top: 6vmax;
    left: 4.5vmax;
    width: 15vmax;
    height: 2vmax;
    font-size: 24px;
}

#btn1{
    position: absolute;
    top: 13vmax;
    left: 9vmax;
    width: 7vmax;
    height: 2vmax;
    font-size: 24px;
}
