
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <meta name = "author" content = "itfeelsnice">
            <title>sing up</title>
            <link rel = "stylesheet" href = "../static/css2.css">
        </head>
        <body>
            <header>

            </header>
            <main>
                <div id = "div1">
                    <form method = "POST">
                        <input type = "text" name = "inputvalue2" id = "inp1" placeholder = "sing up">
                        <button type = "submit">sing up</button>
                    </form>
                </div>
            </main>
            <footer>

            </footer>

            <script></script>
        </body>
</html>