<!-- started to code at 7.30 today i will not code that much because i need to study for school -->
<!-- i will try to code as much as i can -->
<!-- started this project on 17.03.2026 -->

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <meta name = "author" content = "itfeelsnice">
            <title>login</title>
            <link rel = "stylesheet" href = "../static/css1.css">
        </head>
        <body>
            <header>
                <h1 id = "a1">Welcome</h1>
            </header>
            <main>
                <div id = "div1">
                    <form method = "POST">
                        <input type = "text" name = "inputvalue" id = "inp1" placeholder = "login">
                        <button type = "submit">login</button>
                    </form>
                    <a href = "/sing up">sing up</a>
                </div>
            </main>
            <footer>
                <h1 id = "a3">{{wrong1}}</h1>
                <h1 id = "a2">Credentials</h1>
            </footer>

            <script src = "../static/js1.js"></script>
        </body>
</html>

<!-- stoped to code at 7.52 i need to read -->
























