
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <meta name = "author" content = "itfeelsnice">
            <title>ENTER</title>
            <link rel = "stylesheet" href = "../static/css3.css">
        </head>
        <body>
            <header>

            </header>
            <main>
                <div id = "div1">
                    <h1 id = "a1">Thanks for entering into our database</h1>
                </div>
            </main>
            <footer>
                
            </footer>

            <script></script>
        </body>
</html>